:root {
  --background-color: white;
  --text-title-color: #053D4E;
  --text-color: #32363B;
  --icon-menu-color: #707780;
  --menu-color: #707780;
  --text-selected-color: #355CC0;
  --background-selected: #EBF0FF;
  --background-hover: #F7F9FA;
  --border-color: #E6E9ED;
}

body {
  margin: 0;
  padding: 0;
}

.cdk-overlay-container {
  z-index: 1000;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.cdk-overlay-pane {
  &.usuario-modal,
  &.alquiler-modal {
    .cdk-dialog-container {
      padding: 0;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
.cdk-overlay-container {
  z-index: 1000;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.5);
}