:root {
    --menu-color: #4c5b73;
    --border-color: #ddd; // o el color que necesites
    --background-color:white;
    --text-title-color: #053D4E;
    --text-color:#32363B;
    --text-color:#32363B;
    --icon-menu-color:#707780;
    --menu-color:#707780;

    --text-selected-color:#355CC0;
    --background-selected:#EBF0FF;
    --background-hover:#F7F9FA;

    --border-color:#E6E9ED;

  }


  /* Estilos para modal de usuarios */
.cdk-overlay-container {
    z-index: 1000;
  }
  
  .cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .cdk-overlay-pane.usuario-modal {
    .cdk-dialog-container {
      padding: 0;
      border-radius: 8px;
     
    }
  }

  /* Estilos para modal de alquileres */
.cdk-overlay-pane.alquiler-modal {
    .cdk-dialog-container {
      padding: 0;
      border-radius: 8px;
    }
  }
  body{
    margin: 0;
  }